.bg-dark {
    --bs-bg-opacity: 0.5;
}

body {
    position: relative;
    background-image: url('../images/home/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    min-height: 100vh;
    margin: 0;
}

body:after {
    content: '';
    position: fixed;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fs-10 {
    font-size: 3rem !important;
}

.social-media {
    position: absolute;
    left: 0.5rem;
    top: 50%;
}
